[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/cscope_maps"]
	path = .vim/bundle/cscope_maps
	url = https://github.com/chrissicool/cscope_maps
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/minibufexpl.vim"]
	path = .vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/bundle/svndiff.vim"]
	path = .vim/bundle/svndiff.vim
	url = https://github.com/vim-scripts/svndiff.vim
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
