[user]
  name = Joe Stringer
  email = joestringernz@gmail.com
[core]
  editor = vim
[color]
  diff = auto
  ui = true
[alias]
  ap = add -p
  ci = commit
  co = checkout
  cb = checkout -b
  di = diff
  dc = diff --cached
  sb = status -sb
  st = stash
  sp = stash pop
  si = stash --keep-index
  cp = cherry-pick
  lo = log --oneline
  a3 = am -3
  fp = format-patch
  ra = rebase -i --autosquash
  rc = rebase --continue
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ls = diff-tree --no-commit-id --name-only -r
[push]
  #default = simple
[sendemail]
  suppresscc = self
  chainreplyto = false
  smtpserver = smtp.gmail.com
  smtpssl
  confirm = always
