[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/cscope_maps"]
	path = .vim/bundle/cscope_maps
	url = https://github.com/joestringer/cscope_maps
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/sonicpi.vim"]
	path = .vim/bundle/sonicpi.vim
	url = https://github.com/joestringer/sonicpi.vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-localrc"]
	path = .vim/bundle/vim-localrc
	url = https://github.com/thinca/vim-localrc.git
[submodule ".vim/bundle/vim-autoadapt"]
	path = .vim/bundle/vim-autoadapt
	url = https://github.com/vim-scripts/AutoAdapt
[submodule ".vim/bundle/ingo-library.vim"]
	path = .vim/bundle/ingo-library.vim
	url = https://github.com/vim-scripts/ingo-library
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tmuxline"]
	path = .vim/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule ".vim/bundle/vim-cue"]
	path = .vim/bundle/vim-cue
	url = https://github.com/jjo/vim-cue
[submodule ".vim/bundle/vim-helm"]
	path = .vim/bundle/vim-helm
	url = https://github.com/towolf/vim-helm
[submodule ".vim/bundle/vim-delve"]
	path = .vim/bundle/vim-delve
	url = https://github.com/sebdah/vim-delve
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux
[submodule ".vim/bundle/cctree"]
	path = .vim/bundle/cctree
	url = https://github.com/hari-rangarajan/CCTree
[submodule ".vim/bundle/onedark.vim"]
	path = .vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule ".vim/bundle/gh.nvim"]
	path = .vim/bundle/gh.nvim
	url = https://github.com/ldelossa/gh.nvim
	branch = main
[submodule ".vim/bundle/litee.nvim"]
	path = .vim/bundle/litee.nvim
	url = https://github.com/ldelossa/litee.nvim
